## Deliverable 2. Create a Customer Travel Destinations Map.

In [8]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [9]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:\\Users\\Blaine\\Documents\\College\\Bootcamp\\World_Weather_Analysis\\Weather_Database\\WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,40.658,93,100,6.17,light intensity drizzle
1,1,Atuona,PF,-9.8000,-139.0333,78.854,78,26,7.61,scattered clouds
2,2,Ferme-Neuve,CA,46.7001,-75.4493,41.288,59,49,1.97,scattered clouds
3,3,Butaritari,KI,3.0707,172.7902,79.628,80,76,2.59,light rain
4,4,Jamestown,US,42.0970,-79.2353,47.948,41,100,1.34,overcast clouds

In [10]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [23]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Atuona,PF,-9.8000,-139.0333,78.854,78,26,7.61,scattered clouds
3,3,Butaritari,KI,3.0707,172.7902,79.628,80,76,2.59,light rain
6,6,Puerto Ayora,EC,-0.7393,-90.3518,80.564,91,100,1.34,overcast clouds
11,11,Lakota,CI,5.8528,-5.6883,87.944,57,87,1.95,overcast clouds
13,13,Mount Isa,AU,-20.7333,139.5000,83.966,26,12,2.57,light rain
...,...,...,...,...,...,...,...,...,...,...
660,660,Mount Darwin,ZW,-16.7725,31.5838,77.090,56,64,1.35,broken clouds
662,662,Alyangula,AU,-13.8483,136.4192,78.674,94,40,0.00,scattered clouds
666,666,Nisia Floresta,BR,-6.0911,-35.2086,88.178,52,89,4.30,light rain
667,667,Muncar,ID,-8.4333,114.3333,75.866,83,79,0.36,broken clouds
672,672,Kaohsiung,TW,22.6163,120.3133,79.034,70,20,2.06,few clouds

In [18]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count().isnull()

City_ID                False
City                   False
Country                False
Lat                    False
Lng                    False
Max Temp               False
Humidity               False
Cloudiness             False
Wind Speed             False
Current Description    False
dtype: bool

In [19]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count().isna()

City_ID                False
City                   False
Country                False
Lat                    False
Lng                    False
Max Temp               False
Humidity               False
Cloudiness             False
Wind Speed             False
Current Description    False
dtype: bool

In [25]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna

In [26]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

TypeError: 'method' object is not subscriptable

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure